<div fxLayout="row" fxLayoutAlign="center none" >
  <h3>Games</h3>
</div>
<div class="m-t-15" *ngFor="let game of games">
  <div class="m-t-15" fxLayout="row" fxLayoutAlign="none center">
    <div fxFlex="10">
      <button md-icon-button [color]="'warn'" (click)="removeGame(game)"><md-icon>remove_circle</md-icon></button>
    </div>
    <div fxFlex>
      <a [routerLink]="[game.id]">{{ game.name }}</a>
    </div>
  </div>
</div>
<div class="m-t-15" fxLayout="row" fxLayoutAlign="none center">
  <div fxFlex="10">
    <button md-icon-button [color]="'accent'" (click)="newGame('individual')"><md-icon>add_circle</md-icon></button>
  </div>
  <div fxFlex>
    Add an individual game
  </div>
</div>
<div class="m-t-15" fxLayout="row" fxLayoutAlign="none center">
  <div fxFlex="10">
    <button md-icon-button [color]="'accent'" (click)="newGame('team')"><md-icon>add_circle</md-icon></button>
  </div>
  <div fxFlex>
    Add a team game
  </div>
</div>
<div class="m-t-15" fxLayout="row" fxLayoutAlign="none center">
  <div fxFlex="10">
    <button md-icon-button [color]="'accent'" (click)="newGame('match')"><md-icon>add_circle</md-icon></button>
  </div>
  <div fxFlex>
    Add a match (2 players)
  </div>
</div>
<div class="m-t-30" fxLayout="row" fxLayoutAlign="center none" >
  <button md-raised-button [color]="'primary'" (click)="onNext()">Let's Play!</button>
</div>
