<div fxLayout="row" fxLayoutAlign="center none" >
  <h3>Game Setup</h3>
</div>
<div class="m-t-15" fxLayout="row" fxLayoutAlign="center none" >
  <md-select [(ngModel)]="game.gameType" (change)="updateScoringTypes()" class="w-8" placeholder="Select a game">
    <md-option *ngFor="let gameType of gameTypes" [value]="gameType">{{gameType}}</md-option>
  </md-select>
</div>
<div class="m-t-15" fxLayout="row" fxLayoutAlign="center none" >
  <md-select [(ngModel)]="game.scoringType" class="w-8" placeholder="Select a game">
    <md-option *ngFor="let scoringType of scoringTypes" [value]="scoringType">{{scoringType}}</md-option>
  </md-select>
</div>
<div fxLayout="row" fxLayoutAlign="center none" >
  <md-input-container class="partial-width">
    <input mdInput placeholder="Bet" [(ngModel)]="game.betValue" />
  </md-input-container>
</div>
<div class="m-t-15" fxLayout="row" fxLayoutAlign="none center">
  <md-checkbox class="is-net" [(ngModel)]="game.isNet">Use Handicaps (Net)</md-checkbox>
</div>
<div fxFlex *ngIf="game.scoringType === 'Payouts'">
  <div fxLayout="row" fxLayoutAlign="center none">
    <h4>Payouts</h4>
  </div>
  <div class="m-t-15" fxLayout="row" fxLayoutAlign="none center" *ngFor="let payout of game.payouts">
    <div fxFlex="10">
      <button md-icon-button [color]="'warn'" (click)="removePayout(payout)"><md-icon>remove_circle</md-icon></button>
    </div>
    <div fxFlex="10">
      {{payout.place}}
    </div>
    <div fxFlex="20">
      <md-input-container class="partial-width">
        <input mdInput placeholder="shots" [(ngModel)]="payout.percentage" />
      </md-input-container>
    </div>
    <div fxFlex="20">
      <md-input-container class="partial-width">
        <input mdInput placeholder="shots" [(ngModel)]="payout.amount" />
      </md-input-container>
    </div>
  </div>
  <div class="m-t-15" fxLayout="row" fxLayoutAlign="none center">
    <div fxFlex="10">
      <button md-icon-button [color]="'accent'" (click)="addPayout()"><md-icon>add_circle</md-icon></button>
    </div>
    <div fxFlex>
      Add a payout (1st, 2nd, ...)
    </div>
  </div>
</div>
<div fxFlex *ngIf="game.isNet">
  <div fxLayout="row" fxLayoutAlign="center none">
    <h4>Adjust Handicaps (Optional)</h4>
  </div>
  <div class="m-t-15" fxLayout="row" fxLayoutAlign="none center" *ngFor="let team of game.teams">
    <div fxFlex="60">
      {{displayName(team.playerId)}}
    </div>
    <div fxFlex>
      <md-input-container class="partial-width">
        <input mdInput placeholder="shots" [(ngModel)]="team.strokes" />
      </md-input-container>
    </div>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center none" >
  <md-input-container class="partial-width">
    <input mdInput placeholder="Name" [(ngModel)]="game.name" />
  </md-input-container>
</div>
<div class="m-t-30" fxLayout="row" fxLayoutAlign="center none" >
  <button md-raised-button [color]="'primary'" (click)="save()">Save</button>
</div>
