.score {
  text-align: center;
  vertical-align: middle;
  font-size: 1.2em;
  font-weight: bold;
  opacity: 1;
}

.score-box {
  border: thin solid grey;
  margin-left: 8px;
}

.lower {
  margin-top: 10px;
}

.higher {
  margin-top: 10px;
}
