<md-card *ngIf="group && hole">
  <md-card-title>Group {{group.number}} Scoring</md-card-title>
  <md-card-subtitle>Hole {{hole.holeNumber}} (Par {{hole.par}})</md-card-subtitle>
  <md-card-content>
    <div class="m-t-15" *ngFor="let score of scores">
      <div class="m-t-15" fxLayout="row">
        <div fxFlex="30">
          <p>{{score.player.name}}</p>
        </div>
        <div fxFlex="10">
          <button class="lower" md-icon-button (click)="updateScore(score, -1)"><md-icon>exposure_neg_1</md-icon></button>
        </div>
        <div fxFlex="20" [class]="getScoreClass(score)" class="score-box">
          <div>
            <p class="score">{{score.noScore ? 'X' : score.grossScore}}</p>
          </div>
        </div>
        <div fxFlex="10">
          <button class="higher" md-icon-button (click)="updateScore(score, 1)"><md-icon>exposure_plus_1</md-icon></button>
        </div>
        <div fxFlex="10">
          <button class="higher" md-icon-button (click)="toggleNoScore(score)"><md-icon [color]="'warn'">block</md-icon></button>
        </div>
      </div>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button [color]="'primary'" (click)="previousHole()">Previous</button>
    <button md-button [color]="'accent'" (click)="toLeaderboard()">Leaderboard</button>
    <button md-button [color]="'primary'" (click)="nextHole()">Next</button>
  </md-card-actions>
</md-card>
