<h2 class="center-block" *ngIf="title">{{title}}</h2>
<md-nav-list class="navigation" *ngIf="round">
  <md-divider></md-divider>
  <h3 md-subheader>Set up Your Round</h3>
  <!--<md-list-item>
    <a class="relative" [routerLink]="['courses', 'select']">
      <md-icon>golf_course</md-icon>
      <span>Change the Course</span>
    </a>
  </md-list-item>-->
  <md-list-item>
    <a class="relative" [routerLink]="['setup', round.code, 'groups']">
      <md-icon>group_add</md-icon>
      <span>Groups and Players</span>
      <span fxFlex></span>
      <span class="menu-badge mat-green">{{ round.groups.length }}</span>
    </a>
  </md-list-item>
  <md-list-item>
    <a class="relative" [routerLink]="['setup', round.code, 'games']">
      <md-icon>casino</md-icon>
      <span>Games Set-up</span>
      <span fxFlex></span>
      <span class="menu-badge mat-green">{{ round.games.length }}</span>
    </a>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Scoring</h3>
  <md-list-item *ngFor="let group of round.groups">
    <a class="relative"  [routerLink]="['scoring', round.code, group.number, 1]">
      <md-icon>people_outline</md-icon>
      <span>Group {{group.number}}</span>
    </a>
  </md-list-item>
  <md-list-item>
    <a class="relative" [routerLink]="['leaderboard', round.code, 'front', 0]">
      <md-icon>view_comfy</md-icon>
      <span>Leaderboard</span>
    </a>
  </md-list-item>
  <md-divider></md-divider>
  <h3 md-subheader>Results</h3>
  <!--<md-list-item>
    <a class="relative" [routerLink]="['results', round.code]">
      <md-icon>view_list</md-icon>
      <span>All Results</span>
    </a>
  </md-list-item>-->
  <md-list-item *ngFor="let game of round.games">
    <a class="relative" [routerLink]="['results', round.code, game.id]">
      <md-icon>attach_money</md-icon>
      <span>{{game.name}}</span>
    </a>
  </md-list-item>
</md-nav-list>
