.gamer-title {
  width: 90vw;
  background-image: url('../../assets/wilderness.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
}

.partial-width {
  width: 33%;
}

.push-down {
  margin-top: 50px;
}
